.container{

    
    margin: 0 auto;
    padding: 1.2rem 2.4rem;
    background-color:grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 position: relative;
 
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;








  }
  



.grid {
  display: grid;
  gap: 15px;
  justify-items: center;
  background-color: red;
}
/* MyComponent.module.css */
.card {
 


  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  word-wrap:calc(2)
}